body {
  background-color: #36658c;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cutive Mono', monospace;
  color: rgb(226, 148, 3);
  background: rgb(114, 114, 114);
}

p {
  color: white;
}

.top-nav {
  background-color: #36658c;
}